#sidebar{
    width: 25%;
    float: left;
}
#mainsection{
    width: 75%;
    float: right;
}

@media only screen and (min-width: 950px){
    #homepage{
        width: 75%;
        margin: 0% auto;
    }
}